/* MusicSearch.module.css */

.musicSearchContainer {
  background-image: url("https://images.unsplash.com/photo-1619229665876-f54b2276b7bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-color: rgba(179, 0, 255, 0.897);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.searchForm {
  margin-bottom: 20px;
}

.searchForm input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ff7474;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}

.searchForm button {
  padding: 10px 20px;
  background-color: #ff0000; /* Your button background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.searchForm button:hover {
  background-color: #cc0000; /* Hover background color */
}

.searchResults ul {
  list-style: none;
  padding: 0;
}

.searchResults li {
  margin-bottom: 10px;
}

.searchResults a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.searchResults a:hover {
  color: #ff0000; /* Hover link color */
}

.searchResults p {
  font-size: 18px;
  font-weight: bold;
  color: #eaeaea;
  margin-top: 20px;
  
}

.loading {
  
}
